@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
   font-family: "Helvetica" !important;
}

.right{
  text-align: right !important;
}

h3{
  margin-bottom: 0 !important;

}